@import url("fonts.css");

h1, h2, h3, p, a {
    /* font-family: "colonna-regular", serif; */
    font-family: "georgia", sans-serif;
    font-weight: 100;
    line-height: 10px;
}

h1 {
    margin-top: 35px;
    margin-bottom: -10px;
    font-size: 30px;
    font-weight: 600;
    color: #404040;
}

p {
    line-height: 20px;
}

#wrapper {
    text-align: center;
    background-color: #f3f2f0;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#logo {
    height: 100px;
    width: 100px;
    margin: 15px;
}

#photo {
    height: 400px;
    width: 700px;
    margin: 15px;
}

li {
    display: inline-block;
    margin: -2px;
    width: 200px;
    height: 30px;
}

li:hover {
    background-color: #404040;
}

li a {
    color: black;
    text-decoration: none;
    font-size: 17px;
}

ul {
    width: 600px;
    height: 30px;
    background-color: #ecebea;
    margin: 0px;
    padding: 0px;
    display: inline-block;
    line-height: 30px;
    border: 1px solid #404040;
}

.text-wrapper {
    display: inline-block;
    width: 700px;
}

#resume {
    width: 200px;
    height: 50px;
    background-color: #ecebea;
    display: inline-block;
    margin-top: 30px;
    line-height: 50px;
    border: 1px solid #404040;
    margin-bottom: 60px;
}

#resume:hover {
    background-color: #404040;
}

#resume a {
    text-decoration: none;
    color: #404040;
    font-weight: 100;
    font-size: 20px;
}


#timeline {
    height: 4px;
    width: 700px;
    margin-top: 160px;
    display: inline-block;
    background-color: #404040;
}

.timeline-item {
    display: inline-block;
    height: 90px;
    margin: -2px;
    vertical-align: top;
    position: relative;
    border-radius: 15px;
}

.timeline-item h2 {
    margin-left: 20px;
    margin-right: 20px;
}

.timeline-tag {
    width: 2px;
    height: 30px;
    background-color: #404040;
    position: absolute;
    display: inline-block;
}

.odd .timeline-tag {
    top: 90px;
}

.even .timeline-tag {
    top: -30px;
}

.color1 {
    background-color: #cb997e;
    top: -125px;
    right: 100px;
}

.color2 {
    background-color: #ddbea9;
    top: 28px;
    right: 300px;
}

.color2 .timeline-tag {
    left: 92px;
}

.color3 {
    background-color: #ffe8d6;
    /* 211 */
    top: -211px;
    left: 160px;
}

.color3 .timeline-tag {
    left: 60px;
}

.color4 {
    background-color: #b7b7a4;
    top: -58px;
    left: 130px;
}

.color5 {
    background-color: #a5a58d;
    top: -211px;
    left: 100px;
}


/* Generic modal formatting */

#modal-overlay {
    background-color: rgba(23, 23, 23, 0.8);
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    visibility: hidden;
}

.modal-body {
    background-color: #ecebea;
    height: 400px;
    width: 900px;
    position: absolute;
    left: 50%;
    top: 50%;
    /* transform: translate(-50%, -50%); */
    visibility: hidden;
}

.modal-body button {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: red;
}

.modal-body h1 {
    margin-bottom: 30px;
    margin-left: 30px;
}

.modal-body img {
    display: inline-block;
    margin-left: 30px;
}

.modal-body div {
    width: 400px;
    display: inline-block;
    margin-left: 30px;
    vertical-align: top;
}

.modal-body div p {
    margin: 0px;
}

/* Specific modal formatting */
#achievements-modal img {
    width: 400px;
    margin-left: 0px;
}

#tetrashell-modal img, #akari-modal img, #graphics-modal img, #nyt-modal img {
    height: 300px;
}


#achievements-modal {
    height: 520px;
}

#tetrashell-modal {
    width: 780px;
}

#nyt-modal img {
    height: 220px;
}

#nyt-modal {
    width: 700px;
    height: 350px;
}

#graphics-modal {
    width: 850px;
}

#akari-modal {
    width: 800px;
}





